#Data Cleansing Customer Satisfaction Survey

In [ ]:
import pandas as pd
import os
import fnmatch

In [ ]:
# Return CSV File
for file in os.listdir():
    if fnmatch.fnmatch(file, '*.csv'):
        csv_file = file
        print(file)
sk = pd.read_csv(csv_file, sep=';')

In [ ]:
# See the Table
sk

,NO,Submission Time,Name,Hospitals Name,UNIT_ID,Service,Service Date,Engineer,Completing on time as agreed,Timeliness and communication by field technicians/applicants,Competence and service professionalism of field technicians/applicants,Presentation of training materials and product readiness to use/function,"Quality, device connectivity and performance of installed equipment",The expected expectations were met,"Based on these services, how likely are you to recommend to a friend or colleague",Would you like someone to contact you,Your overall satisfaction with the services provided?,Name the biggest contribution to your satisfaction?,What can we do to make you very satisfied?,Do you have criticisms/suggestions for the services performed?
0,1,"Jan 5, 2023 @ 09:20 AM",Guillermo,HOUSTON METHODIST SAN JACINTO HOSPITAL ALEXAND...,A001,TroubleShooting,24/08/2022,Harris,Satisfied,Satisfied,Satisfied,Satisfied,Satisfied,Satisfied,"Ya, Merekomendasikan",Ya,Satisfied,tidak ada,tidak ada,tidak ada
1,2,"Jan 5, 2023 @ 09:11 AM",Boris,"WOODS AT PARKSIDE,THE",A002,TroubleShooting,07/02/2022,Franklin,Satisfied,Satisfied,Satisfied,Satisfied,Satisfied,Satisfied,"Ya, Merekomendasikan",Tidak,Satisfied,tidak ada,tidak ada,tidak ada
2,3,"Jan 4, 2023 @ 19:34 PM",Milton,DAYTON CHILDREN'S HOSPITAL,A003,TroubleShooting,12/10/2022,Montgomery,Satisfied,Satisfied,Satisfied,Satisfied,Satisfied,Satisfied,"Ya, Merekomendasikan",Ya,Satisfied,tidak ada,tidak ada,tidak ada
3,4,"Jan 4, 2023 @ 19:30 PM",Ryan,VIBRA HOSPITAL OF MAHONING VALLEY,A004,TroubleShooting,18/10/2022,Mahoning,Satisfied,Satisfied,Satisfied,Satisfied,Satisfied,Satisfied,"Ya, Merekomendasikan",Ya,Satisfied,tidak ada,tidak ada,tidak ada
4,5,"Jan 4, 2023 @ 19:26PM",Shelby,HAVEN BEHAVIORAL SENIOR CARE OF DAYTON,A005,TroubleShooting,20/10/2022,Pottawatomie,Satisfied,Satisfied,Very Satisfied,Satisfied,Very Satisfied,Very Satisfied,"Ya, Merekomendasikan",Ya,Satisfied,tidak ada,tidak ada,tidak ada
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
598,599,"Apr 25, 2022 @ 10:49 AM",Justin,NaN,A231,NaN,29-01-2022,Nueces,Very Satisfied,Very Satisfied,Very Satisfied,Very Satisfied,Very Satisfied,Very Satisfied,"Ya, Merekomendasikan",Ya,Very Satisfied,NaN,NaN,NaN
599,600,"Apr 25, 2022 @ 10:47 AM",Shizue,NaN,A015,NaN,19-01-2022,Hidalgo,Very Satisfied,Very Satisfied,Satisfied,Very Satisfied,Very Satisfied,Very Satisfied,"Ya, Merekomendasikan",Ya,Very Satisfied,NaN,NaN,NaN
600,601,"Apr 25, 2022 @ 10:30 AM",My,NaN,A035,NaN,19-01-2022,Hidalgo,Very Satisfied,Very Satisfied,Very Satisfied,Very Satisfied,Very Satisfied,Satisfied,"Ya, Merekomendasikan",Ya,Very Satisfied,NaN,NaN,NaN
601,602,"Apr 25, 2022 @ 10:15 AM",Rosario,NaN,A232,NaN,27-01-2022,Reagan,Very Satisfied,Very Satisfied,Very Satisfied,Very Satisfied,Very Satisfied,Very Satisfied,"Ya, Merekomendasikan",Ya,Very Satisfied,NaN,NaN,NaN
602,603,"Apr 25, 2022 @ 10:13 AM",Erika,NaN,A017,NaN,18-01-2022,Wise,Very Satisfied,Very Satisfied,Very Satisfied,Very Satisfied,Very Satisfied,Satisfied,"Ya, Merekomendasikan",Ya,Very Satisfied,NaN,NaN,NaN

In [ ]:
# See the column name in the Data Frame
idx_col = 0
print("Urutan Nomor Kolom dan Nama Kolom")
for i in sk.columns:
  print(idx_col,' ', i)
  idx_col += 1

In [ ]:
# Return Column with 'Very Dissatisfied', 'Dissatisfied', 'Satisfied', 'Very Satisfied'
matching_columns = sk.columns[sk.isin(['Very Dissatisfied', 'Dissatisfied', 'Satisfied', 'Very Satisfied']).any()]

# Change 'Very Dissatisfied': 1, 'Dissatisfied': 2, ''Satisfied': 3, 'Very Satisfied': 4
mapping = {'Very Dissatisfied': 1, 'Dissatisfied': 2, 'Satisfied': 3, 'Very Satisfied': 4}
sk_unsur = sk.loc[:, matching_columns].replace(mapping)

unsur = ['U' + str(i+1) for i, j in enumerate(matching_columns)]
unsur_dict = {key: value for key, value in zip(matching_columns, unsur)}

# Change name column into U1, U2, and so on
sk_unsur = sk_unsur.rename(columns = unsur_dict)

In [ ]:
sk_unsur

In [ ]:
sk_clean = pd.merge(sk.iloc[:,0:8], sk_unsur, left_index=True, right_index=True)
sk_clean

In [ ]:
# Export data ke File excel

sk_clean.to_excel('skclean.xlsx', index = False)

## Data Cleaning process Has Completed